[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw/
	branch = latest
[submodule "extern/glew"]
	path = extern/glew
	url = https://github.com/nigels-com/glew/
[submodule "extern/forth"]
	path = extern/forth
	url = https://github.com/forth-engine/forth-library
